OPENAI_API_KEY = "<insert your APIKEY here>"
TAVILY_API_KEY = "<insert your APIKEY here>"
DB_PATH = "<insert your db location>"
# LangSmith tracing (for debugging and performance measurement)
LANGSMITH_TRACING=true
LANGCHAIN_TRACING_V2=true
LANGSMITH_API_KEY=<insert your APIKEY here>
GUARDRAIL_API_KEY= "<insert your APIKEY here>"